<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tildesoft.alfred.workflow.swift-demangle</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>783763D8-9846-413A-B796-DBCD06223E45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C11FAA2-B553-4211-8CE1-909FE68333E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>337FD6CA-C9EA-4540-8A5C-AF20BBEDF84D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Ballard</string>
	<key>description</key>
	<string>Demangles Swift symbols</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Swift Demangle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5C11FAA2-B553-4211-8CE1-909FE68333E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>swift-demangle</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Demangling…</string>
				<key>script</key>
				<string>./swift-demangle {query}</string>
				<key>title</key>
				<string>Demangle Swift Symbol '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>783763D8-9846-413A-B796-DBCD06223E45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>337FD6CA-C9EA-4540-8A5C-AF20BBEDF84D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>337FD6CA-C9EA-4540-8A5C-AF20BBEDF84D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5C11FAA2-B553-4211-8CE1-909FE68333E7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>783763D8-9846-413A-B796-DBCD06223E45</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
